{% extends "base.html" %}

{% block title %}Справочники{% endblock %}

{% block nav_top_left %}
    <div class="nav-top-left">
        <a href="{% url 'main_menu' %}">Вернуться в меню</a>
    </div>
{% endblock %}

{% block content %}
    <h1>Справочники</h1>
    <ul class="model-list">
    {% for model, model_name, verbose_name in reference_models %}
        <li class="model-item">
            <a href="{% url 'model_detail' model_name=model_name %}" class="model-link">
                {{ verbose_name|capfirst }}
            </a>
        </li>
    {% empty %}
        <li class="model-item">Нет доступных справочников.</li>
    {% endfor %}
    </ul>
{% endblock %}